div {
    font-size: 50px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#search-button {
    background-color: rgb(239, 239, 239);
}