.location {
  font-size: 30px;
  height: 50px;
}

.current-temp {
  font-size: 50px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 1;
  gap: 10px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: sans-serif;
}

#search-button {
  background-color: rgb(239, 239, 239);
}

#max-min {
  display: grid;
  grid-template-columns: 40px 40px;
  gap: 30px;
}

.hidden {
  visibility: hidden;
}

.unhidden-loader {
  animation: spin 2s linear infinite;
}

.loader {
  border: 12px solid rgb(234, 234, 234);
  border-top: 12px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#weather-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

#max-min > * {
  display: flex;
  gap: 5px;
}

#current-temp {
  justify-self: end;
}

.day {
  display: grid;
  grid-template-columns: 60px 30px 30px;
}

#ten-day-forecast {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#description {
  margin: 5px;
  height: 30px;
}

#current-conditions {
  height: 30px;
}
