.location {
  font-size: 30px;
  height: 50px;
}

#current-temp {
  font-size: 50px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 25px; */
  font-family: sans-serif;
  background-color: rgb(253, 62, 3);
}

#search-button {
  background-color: rgb(239, 239, 239);
  font-size: 16px;
}

#max-min {
  display: grid;
  grid-template-columns: 40px 40px;
  gap: 30px;
}

.hidden {
  visibility: hidden;
}

.unhidden-loader {
  animation: spin 2s linear infinite;
}

.loader {
  border: 6px solid rgb(234, 234, 234);
  border-top: 6px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#weather-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

#max-min > * {
  display: flex;
  gap: 5px;
}

#current-temp {
  justify-self: end;
}

.day {
  display: grid;
  grid-template-columns: 60px 30px 30px;
  gap: 30px;
}

#ten-day-forecast {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}

#description {
  margin: 5px;
  height: 30px;
}

#current-conditions {
  height: 30px;
}

.day-min,
.day-max {
  text-align: end;
}

.divider {
  width: 100%;
  background-color: black;
  height: 1px;
}

#scale-switcher {
  font-size: 16px;
  align-self: flex-end;
  margin-right: 2.5%;
}

#content {
  background-color: rgba(255, 255, 255, .75);

  display: flex;
  flex-direction: column;
  align-items: center;
}